@model Tasks

<div class="TaskWindow" id="@Model.ID">
    <a class='TaskContent'>
         @Model.TaskContent
        <p class="ListName"> in list @Model.ColumnName</p>
    </a>

    <h4>Labels</h4>
    <div class="LabelListDiv">

            <ul class="TaskLabelList">
                @foreach (var label in Model.LabelList)
                {
                   @Component.Invoke("Label", label)
                }
                
            </ul>

    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="TaskAddLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Add A label
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li class="TaskColourLabel" id="GreenLabel"><a href="#">Green</a></li>
            <li class="TaskColourLabel" id="BlueLabel"><a href="#">Blue</a></li>
            <li class="TaskColourLabel" id="PurpleLabel"><a href="#">Purple</a></li>
            <li class="TaskColourLabel" id="RedLabel"><a href="#">Red</a></li>
            <li class="TaskColourLabel" id="YellowLabel"><a href="#">Yellow</a></li>
            <li class="TaskColourLabel" id="OrangeLabel"><a href="#">Orange</a></li>
            <li class="TaskColourLabel" id="LightBlueLabel"><a href="#">Light Blue</a></li>
            <li class="TaskColourLabel" id="PinkLabel"><a href="#">Pink</a></li>
        </ul>
    </div>

    <div class="TaskDateDiv">
        <h3 class="Date">
            Date: @Model.DueDate.Date
        </h3>
        <input type="button" value="ChangeDate" class="ChangeDateButton">
    </div>
    <h3>Comments</h3>
    <div class="CommentsDiv">

    <!--
    <div class="Comment" id="1">
        <h4 class="CommentName">
            Bob:
            <span class="CommentContent">
                        FSADFSASAFMASED AM GOING TO THE SAME FSADFSASAFMASED
                        AM GOING TO THE SAMEFSADFSASAFMASED
                        AM GOING TO THE SAMEFSADFSASAFMASED AM GOING TO THE
                        SAMEFSADFSASAFMASED AM GOING TO THE SAME FSADFSASAFMASED AM GOING TO THE SAME
                    </span>
        </h4>
        <p class="CommentDate">21st Apiril, 10:30AM</p>
    </div>
        -->

        @foreach (var comment in Model.CommentList)
        {
            @Component.Invoke("Comment", comment);
        }



        <div class="CommentForm">
            <textarea class="CommentTextArea"></textarea>
            <label>Name:</label>
            <input class="CommentNameInput" type="text">
            <input type="submit" value="Submit" class="CommentFormSubmit">
        </div>

    </div>

</div>

